---
layout: single
classes: wide
layout: single
title: Home
---

<style>
    h2 {
        font-family: "Garamond", serif;
        font-style: normal;
        font-size: 38px;
        font-weight: bold;
        color: #95bff3;
    }
    h3 {
        font-size: 30px;
        color: #5c6eb0;
    }
    h5 {
        color: #5c6eb0;
    }
    body {
        font-size: 18px;
    }
    p:has(+ ul) {   
      margin-bottom: 0;
    }
    p + ul {
      margin-top: 0;
    }
</style>


<h1> Who I am </h1>
<p>I am a data scientist. I taught myself this matter. Thanks to the support of the supervisors of my <a href="../previous">previous activities</a>.</p>


<hr style="height: 25px">

<i style="font-size: 30px; font-family: Garamond">Ad maiora!</i>