---
layout: single
classes: wide
layout: single
title: Home
---

<style>
    h2 {
        font-family: "Garamond", serif;
        font-style: normal;
        font-size: 38px;
        font-weight: bold;
        color: #95bff3;
    }
    h3 {
        font-size: 30px;
        color: #5c6eb0;
    }
    h5 {
        color: #5c6eb0;
    }
    body {
        font-size: 18px;
    }
    p:has(+ ul) {   
      margin-bottom: 0;
    }
    p + ul {
      margin-top: 0;
    }
</style>


<h1> This site </h1>
<p>For portfolio and CV complement purposes.</p>

<p>The structured is as follows</p>
<ul>
    <li><a href="../cv">My CV</a>: A factual overview of my past and current work experiences, education, publications</li>
    <li><a href="../ongoing">Ongoing Activity</a>: The highlights and the personal significance of my current working activity</li>
    <li><a href="../previous">Previous Efforts</a>: A brief resume of my past (academic) career. This section details in more depth the items reported in the CV</li>
    <li><a href="../beyond">Beyond Science</a>: What makes life fuller, more colorful, busier but more fun</li>
</ul>
